apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: spring-boot-server-tutorialsonline
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/atul-fulambarkar-tenant/spring-boot-app-t1/spring-boot-server-tutorialsonline@sha256:cef0f63a6b7b25438f544348ce69398128bc33511545dce2c2b4f155de156f65
        name: container-image
        resources: {}
status: {}
